.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  overflow-x: auto;
  flex: 1;
  margin-left: 0; /* По умолчанию без отступа (для мобильных) */
  margin-top: 60px; /* Same as header height */
  padding: 24px;
  background-color: #f9fafb;
}

/* Для устройств с шириной до 768px (планшеты) */
@media (max-width: 768px) {
  .content {
    padding: 16px;
  }
}

/* Для мобильных устройств */
@media (max-width: 480px) {
  .content {
    padding: 12px;
    margin-top: 70px;
  }
}

/* Для очень маленьких экранов */
@media (max-width: 374px) {
  .content {
    padding: 10px;
  }
}

/* Только для больших экранов, где отображается сайдбар */
@media (min-width: 1440px) {
  .content {
    margin-left: 80px; /* Отступ равен ширине сайдбара */
  }
}
