@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Regular.ttf");
}

:root {
  --font-family: "Inter", sans-serif;

  --main-black: #1d1e21;
  --accent: #4caf78;
  --accent-2: #e85050;
  --primary-text-color: #dcdddf;
  --primary-background-color: #e7f1ed;
  --background-1: #f9fafb;
  --background-2: #ffffff;
  --background-3: #f3f4f6;
  --error: #ef4444;
  --warning: #f59e0b;
  --success: #10b981;

  --spacing-base: 14px;
  --font-size-base: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--font-size-base);
  line-height: 1;
  color: var(--main-black);
  background-color: var(--background-2, #141414);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a {
  font-weight: 500;
  font-size: 1rem;
  color: var(--primary-text-color);
}
a:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--primary-text-color);
}

h2 {
  font-weight: 600;
  font-size: 1.875rem;
}

p {
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-base);
}

main {
  flex: 1;
  padding: var(--spacing-base);
}
input[type="file"] {
  display: none;
}

input {
  background-color: transparent;
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 374px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: var(--breakpoint-mobile)) {
  :root {
    --font-size-base: 8px;
  }

  .header,
  .footer {
    font-size: 12px;
  }
}

@media (max-width: var(--breakpoint-tablet)) {
  :root {
    --font-size-base: 16px;
    --spacing-base: 12px;
  }

  .container {
    padding: 0 calc(var(--spacing-base) / 2);
  }

  .header,
  .footer {
    text-align: left;
  }
}

@media (min-width: var(--breakpoint-desktop)) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1140px;
    padding: 32px;
  }
}

html {
  scroll-behavior: smooth;
}
