.sidebar {
  width: 80px;
  height: 100vh;

  border-right: 1px solid #eaecef;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 120px;
}

.menuItems {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  color: #71717a;
  text-decoration: none;
  transition: all 0.2s ease;
  border-left: 3px solid transparent;
}

.menuItem:hover {
  color: #4caf78;
}

.active {
  color: #4caf78;
  border-left: 3px solid #4caf78;
  background-color: rgba(76, 175, 120, 0.05);
}

.icon {
  width: 24px;
  height: 24px;
}
.icon:focus {
  outline: none;
}

@media (max-width: 1439px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 1440px) {
  .sidebar {
    display: flex;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 48px;
    padding: 0 8px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
