.header {
  height: 80px;
  background-color: var(--background-2);
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.leftSection {
  gap: 60px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 40px;
  height: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 117%;
  color: var(--main-black);
  margin: 0;
}

.subtitleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
}

.subtitle {
  font-weight: 400;
  font-size: 12px;
  color: rgba(29, 30, 33, 0.4);
  text-decoration: none;
}

a.subtitle:hover {
  color: #4caf78;
  text-decoration: underline;
}

.separator {
  font-size: 12px;
  color: #d1d5db;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoutButton {
  background: var(--accent);
  border: none;
  color: #fff;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.logoutButton:hover {
  background-color: #f3f4f6;
  color: #4caf78;
}

.logoutIcon {
  width: 16px;
  height: 16px;
}

.menuButton {
  background: none;
  border: none;
  color: #71717a;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.menuButton:hover {
  background-color: #f3f4f6;
}

.menuIcon {
  width: 32px;
  height: 32px;
}

@media (max-width: 1439px) {
  .leftSection {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 16px;
  }

  .leftSection {
    gap: 12px;
  }

  .logo {
    margin-right: 12px;
  }

  .titleContainer {
    max-width: 150px;
  }

  .title {
    font-size: 18px;
  }
}

@media (max-width: 374px) {
  .logoImage {
    width: 32px;
    height: 32px;
  }

  .title {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .menuButton {
    display: none;
  }

  .logoutButton {
    display: flex;
  }
}
