/* LoginPage.module.css */
.container {
  margin: 0 auto;
  padding-top: 28px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  min-height: 100vh;
  position: relative; /* Добавляем это свойство */
}

.leftSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logoContainer {
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.logoIcon {
  margin-right: 0.5rem;

  padding: 0.5rem;
  border-radius: 8px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 2rem 0;
}

.tagline {
  max-width: 600px;
}

.tagline h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 111%;
  color: #333;
  line-height: 1.2;
  position: relative; /* Добавлено для позиционирования изображения */
}

.pillImage {
  width: 179px;
  height: 175px;
  background-image: url("../../assets/images/pill.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Добавлено для правильного масштабирования */
  position: absolute; /* Позиционирование абсолютное относительно заголовка */
  right: 0; /* Расположение справа */
  top: -100px; /* Смещение вверх для правильного выравнивания */
  z-index: -1; /* Размещение позади текста, чтобы текст мог обтекать */
}

.highlight {
  color: var(--accent);
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.formGroup {
  margin-bottom: 14px;
}

.input,
.inputError {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  width: 100%;
  background: #fff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  font-size: 1rem;
  transition: border 0.3s;
}
.input,
.inputError::placeholder {
  color: rgba(29, 30, 33, 0.4);
}
.input:focus {
  outline: none;
  border-color: #4caf78;
}

.inputError {
  border-color: #e53e3e;
}

.errorMessage {
  color: #e53e3e;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.loginButton {
  width: 100%;
  padding: 1rem;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 60px;
  padding-top: 13px;
  padding-bottom: 13px;
  height: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 129%;
  margin-top: 26px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #3d9e67;
}

.loginButton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
.decorativeElements {
  position: absolute;
  bottom: -20px;
  right: -40px;
  width: 279px; /* Подстройте размеры под ваше изображение */
  height: 257px;
  background-image: url("../../assets/images/elements.png"); /* Путь к вашему изображению с волнами */
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  z-index: -1;
  pointer-events: none;
}
/* Responsive adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .leftSection {
    padding-bottom: 1rem;
  }

  .tagline h1 {
    font-size: 2rem;
  }
}
